<div class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">ngEvents</a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" [routerLink]="['/events']">All Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" [routerLink]="['/events/new']">Create Event</a>
                </li>
                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        id="navbarDropdown"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        Events
                        <span class="caret"></span>
                    </a>
                    <ul class="nav-item dropdown-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Angular Connect</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="navbar-nav">
            <form id="searchForm" class="d-flex align-items-center">
                <div class="pt-2 pe-2">
                    <p class="pt-2" >Welcome John</p>
                </div>
                <div class="pt-2 pe-2">
                    <input type="text" class="form-control pt-2" placeholder="Search Sessions">
                </div>
                <div class="pt-2 pe-2">
                    <button class="pt-2 col btn btn-primary">
                        Search
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--
<nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
  </div>
  <div>
    <form class="container row float-end">
      <div class="col">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
      </div>
      <div class="col">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </div>
    </form>
  </div>
</nav>
-->
